#!/bin/bash

{% for port in ports %}
    {% for param, value  in ports[port].items() %}
config -s config.ports.{{ port }}.{{ param }}={{ value }}
    {% endfor %}
{% endfor %}

config -r serialconfig
config -a
