#!/bin/bash

config -s config.users.total=1

{% for user in groups['network-admin'].users %}
TOTALUSERS=`config -g config.users.total | sed 's/.* //'`
NEWTOTAL=$[ $TOTALUSERS +1 ]
config -s config.users.user$NEWTOTAL.username="{{ user }}"
config -s config.users.user$NEWTOTAL.plaintext_password="*"
config -s config.users.user$NEWTOTAL.groups.group1='users'
config -s config.users.user$NEWTOTAL.groups.group2='pmoperator'
config -s config.users.user$NEWTOTAL.ssh_pubkey_only=on
mkdir -p /etc/config/users/{{ user }}/.ssh
echo 'cert-authority,principals="{{ user }}" ssh-rsa AAAAsomeremainingpartofyoursshkeyhere== server@company.com' > /etc/config/users/{{ user }}/.ssh/authorized_keys
chmod 600 /etc/config/users/{{ user }}/.ssh/authorized_keys
config -s config.users.total=$NEWTOTAL
{% endfor %}

config -r users
