#!/bin/bash

config -s config.system.name="{{ inventory_hostname }}"

config -s config.interfaces.wan.address="{{ opengear_wan_ipv4.address }}"
config -s config.interfaces.wan.gateway="{{ opengear_wan_ipv4.gateway }}"
config -s config.interfaces.wan.netmask="{{ opengear_wan_ipv4.netmask }}"
config -s config.interfaces.wan.mode="static"
config -s config.interfaces.wan.dns1="{{ dns.servers.ipv4 | first }}"
config -s config.interfaces.wan.alias="{{ opengear_wan_ipv4.alias }}"

config -s config.services.lldp.enabled=on
config -s config.services.telnet.enabled=off
config -s config.services.ssh.dns=off
config -s config.services.http.enabled=off
config -s config.services.lldp.enabled=on
config -s config.wan.services.lldp.enabled=on

config -s config.eventlog.server.type="syslog"
config -s config.eventlog.server.logfacility="syslog"
config -s config.syslog.servers.server1.address="{{ syslog.servers | first }}"
config -s config.syslog.servers.server1.loglevel="info"
config -s config.syslog.servers.server1.port="514"
config -s config.syslog.servers.server1.protocol="udp"

config -s config.system.timezone="UTC"
config -s config.ntp.enabled=on
config -s config.ntp.server="time1.google.com"

config -s config.auth.type="Local"
config -s config.auth.extendedsessionids=on
config -s config.auth.cli.sessionlifetime="10"
config -s config.auth.pmshell.sessionlifetime="10"
config -s config.auth.sessionlifetime="20"

config -a

cat >/etc/config/motd << 'EOF'
## {{ inventory_hostname }} ##
EOF

cat >/etc/config/profile << 'EOF'
export PS1='[\u@\h]\$ '
EOF

chmod +x /etc/config/profile
